<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <title>LMS Login Page</title>
</head>
<body>
  <div class="container" id="container">
    <div class="form-container <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
          <link rel="stylesheet" href="index.css">
          <title>LMS Login Page</title>
      </head>
      
      <body>
          <div class="container" id="container">
              <div class="form-container sign-up">
                  <form  id="sign_up_form" action="/register" method="post">
                      <h1>Create Account</h1>
                      <span>by using your email for registeration</span>
                      <input type="text" placeholder="Name" required autofocus name="name" id="name">
                      <input type="email" placeholder="Email" required name="email" id="email">
                      <input type="password" placeholder="Password" required id="password" name="password">
                      <input type="password" placeholder="Renter the Password" required id="password_confirmation" name="password_confirmation">
                      <div>
                      <button id="sign_up" type="button">Sign Up</button>
                      <select class="container-input">
                        <option value="Student" >Student</option>
                        <option value="Admin">Admin</option>
                      </select>
                      </div>
                  </form>
              </div>
              <div class="form-container sign-in">
                  <form id="sign_in_form" method="post" action="login_in">
                      <h1>Sign In</h1>
                      <span>by using your email password</span>
                      <input type="email"  required  placeholder="Email"  name="email">
                      <input type="password"  required  placeholder="Password" name="password">
                      <a href="forgotPassword.html">Forgot Your Password?</a>
                      <div>
                        <button type="submit" id="sign_in">Sign In</button>
                        <select class="container-input">
                          <option value="Student" >Student</option>
                          <option value="Admin">Admin</option>
                        </select>
                        </div>
                  </form>
              </div>
              <div class="toggle-container">
                  <div class="toggle">
                      <div class="toggle-panel toggle-left">
                          <h1>Welcome Back!</h1>
                          <p>Enter your personal details to access the LMS</p>
                          <button class="hidden" id="login">Sign In</button>
                      </div>
                      <div class="toggle-panel toggle-right">
                          <h1>Hello, User!</h1>
                          <p>Register with your personal details to access the LMS</p>
                          <button class="hidden" id="register">Sign Up</button>
                      </div>
                  </div>
              </div>
          </div>
      
          <script src="/scripts/index.js"></script>
      </body>
      </html>"></div>
  </div>







  <script src="/scripts/index.js"></script>
</body>
</html>